.result {
  margin: 20px;
  text-align: center;
}

.result__title {
  margin-bottom: 10px;
  text-align: center;
}

.result__id-field {
  text-align: center;
}

.result__cards {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.result__card {
  text-align: center;
}

.result__card-title {
}

.result__button-matchroom {
  color: #ff5722;
  border-color: #ff5722;
}

.result__table-nickname {
  text-align: center;
  max-width: 100px;
  word-wrap: break-word;
  vertical-align: middle;
}

.result__table-stats {
  padding: 3px;
  vertical-align: middle;
}

.result__table-paragraph {
  margin: 4px 0;
  vertical-align: middle;
}
